<app-search
  class="absolute w-full "
  (dataEmitter)="onDataEmit($event)"
></app-search>

<div
  class="w-full justify-center flex flex-row items-center flex-wrap space-y-4 md:space-y-4 mt-32"
>
  <button
    class="btn btn-solid-primary mr-1 w-32 self-end"
    (click)="createBreakfast()"
  >
    Śniadanie
  </button>
  <button
    class="btn btn-solid-primary mr-1 w-32 self-start"
    (click)="createLunch()"
  >
    Lunch
  </button>
  <button
    class="btn btn-solid-primary mr-1 w-32 self-start"
    (click)="createDinner()"
  >
    Obiad
  </button>
  <button
    class="btn btn-solid-primary mr-1 w-32 self-start"
    (click)="createTea()"
  >
    Podwieczorek
  </button>
  <button
    class="btn btn-solid-primary mr-1 w-32 self-start"
    (click)="createSupper()"
  >
    Kolacja
  </button>
</div>

<div class="w-full justify-center flex mt-3">
<div
class="p-5 border-2 rounded bg-blue-5  "

>
<h3 class="font-semibold  mb-2">Łączna ilość wartości odżywczych:</h3>
@if(!BMRShow){
<p><a class="font-semibold">Kcal: </a>{{ sumOfKcal }} g </p>
<p><a class="font-semibold">Tłuszcze:</a> {{ sumOfFat }} g</p>
<p><a class="font-semibold">Węglowodany:</a> {{ sumOfCarbs }} g </p>
<p><a class="font-semibold">Białko:</a> {{ sumOfProtein }} g </p>
}
@if(BMRShow){
  <p><a class="font-semibold">Kcal: </a> <a [ngClass]="{'text-red-700': sumOfKcal > BMR[0].kcal}">{{ sumOfKcal }} g</a> / <a class="text-blue-600">{{BMR[0].kcal}} g</a></p>
  <p><a class="font-semibold">Tłuszcze: </a> <a  [ngClass]="{'text-red-700': sumOfFat > BMR[0].fat}">{{ sumOfFat }} g</a> / <a class="text-blue-600">{{BMR[0].fat}} g</a></p>
  <p><a class="font-semibold">Węglowodany: </a> <a  [ngClass]="{'text-red-700': sumOfCarbs > BMR[0].carbs}">{{ sumOfCarbs }} g</a> / <a class="text-blue-600">{{BMR[0].carbs}} g</a></p>
  <p><a class="font-semibold">Białko: </a> <a  [ngClass]="{'text-red-700': sumOfProtein > BMR[0].protein}">{{ sumOfProtein }} g </a>/ <a class="text-blue-600">{{BMR[0].protein}} g</a></p>
}
</div>
</div>
<div
  class="flex flex-col md:flex-row w-full h-full md:items-start items-center justify-center mt-2 p-2"
>


  @if(breakfast){

  <div class="card mr-2 md:mb-0 mb-2 bg-blue-5 relative">
    <div class="card-body">
      <img
        src="./assets/close.png"
        class="h-8 w-8 absolute right-0 top-0 p-2 cursor-pointer"
        (click)="breakfast = false"
        alt=""
      />
      <h2 class="text-center text-lg font-semibold">Śniadanie</h2>

      @for(product of myListOfBreakfast; track product.id){

      <li class="list-none mt-2 mb-2">
        <a class="text-lg">{{ product.name }}</a>
        <div class="flex w-full justify-between">
          <p class="mt-1 text-lg">Ilość: {{ product.quantity }}</p>
          <div>
            <button (click)="addItem(product)">
              <img src="./assets/plus.png" class="w-10 h-10" alt="" />
            </button>
            <button class="ml-2" (click)="deleteItem(product)">
              <img src="./assets/waste-bin.png" class="w-10 h-10" alt="" />
            </button>
          </div>
        </div>
        <p class="mt-1">Wartość odżywcza:</p>
        <div class="flex w-full justify-between">
          <p><a class="font-semibold">Kcal</a></p>
          <p>{{ product.kcal }} g</p>
        </div>
        <div class="flex w-full justify-between">
          <p><a class="font-semibold">Tłuszcze</a></p>
          <p>{{ product.fat }} g</p>
        </div>
        <div class="flex w-full justify-between">
          <p><a class="font-semibold">Węglowodany</a></p>
          <p>{{ product.carbs }} g</p>
        </div>
        <div class="flex w-full justify-between">
          <p><a class="font-semibold">Białko</a></p>
          <p>{{ product.protein }} g</p>
        </div>
      </li>
      }
    </div>
  </div>

  } @if(lunch){

  <div class="card mr-2 md:mb-0 mb-2 bg-blue-5 relative">
    <div class="card-body">
      <h2 class="text-center text-lg font-semibold">Lunch</h2>
      <img
        src="./assets/close.png"
        class="h-8 w-8 absolute right-0 top-0 p-2 cursor-pointer"
        (click)="lunch = false"
        alt=""
      />

      @for(product of myListOfLunch; track product.id){

      <li class="list-none mt-2 mb-2">
        <a class="text-lg">{{ product.name }}</a>
        <div class="flex w-full justify-between">
          <p class="mt-1 text-lg">Ilość: {{ product.quantity }}</p>
          <div>
            <button (click)="addItem(product)">
              <img src="./assets/plus.png" class="w-10 h-10" alt="" />
            </button>
            <button class="ml-2" (click)="deleteItem(product)">
              <img src="./assets/waste-bin.png" class="w-10 h-10" alt="" />
            </button>
          </div>
        </div>
        <p class="mt-1">Wartość odżywcza:</p>
        <div class="flex w-full justify-between">
          <p><a class="font-semibold">Kcal</a></p>
          <p>{{ product.kcal }} g</p>
        </div>
        <div class="flex w-full justify-between">
          <p><a class="font-semibold">Tłuszcze</a></p>
          <p>{{ product.fat }} g</p>
        </div>
        <div class="flex w-full justify-between">
          <p><a class="font-semibold">Węglowodany</a></p>
          <p>{{ product.carbs }} g</p>
        </div>
        <div class="flex w-full justify-between">
          <p><a class="font-semibold">Białko</a></p>
          <p>{{ product.protein }} g</p>
        </div>
      </li>
      }
    </div>
  </div>
  } @if(dinner){

  <div class="card mr-2 md:mb-0 mb-2 bg-blue-5 relative">
    <div class="card-body">
      <h2 class="text-center text-lg font-semibold">Obiad</h2>
      <img
        src="./assets/close.png"
        class="h-8 w-8 absolute right-0 top-0 p-2 cursor-pointer"
        (click)="dinner = false"
        alt=""
      />
      @for(product of myListOfDinner; track product.id){

      <li class="list-none mt-2 mb-2">
        <a class="text-lg">{{ product.name }}</a>
        <div class="flex w-full justify-between">
          <p class="mt-1 text-lg">Ilość: {{ product.quantity }}</p>
          <div>
            <button (click)="addItem(product)">
              <img src="./assets/plus.png" class="w-10 h-10" alt="" />
            </button>
            <button class="ml-2" (click)="deleteItem(product)">
              <img src="./assets/waste-bin.png" class="w-10 h-10" alt="" />
            </button>
          </div>
        </div>
        <p class="mt-1">Wartość odżywcza:</p>
        <div class="flex w-full justify-between">
          <p><a class="font-semibold">Kcal</a></p>
          <p>{{ product.kcal }} g</p>
        </div>
        <div class="flex w-full justify-between">
          <p><a class="font-semibold">Tłuszcze</a></p>
          <p>{{ product.fat }} g</p>
        </div>
        <div class="flex w-full justify-between">
          <p><a class="font-semibold">Węglowodany</a></p>
          <p>{{ product.carbs }} g</p>
        </div>
        <div class="flex w-full justify-between">
          <p><a class="font-semibold">Białko</a></p>
          <p>{{ product.protein }} g</p>
        </div>
      </li>
      }
    </div>
  </div>
  } @if(tea){

  <div class="card mr-2 md:mb-0 mb-2 bg-blue-5 relative">
    <div class="card-body">
      <h2 class="text-center text-lg font-semibold">Podwieczorek</h2>
      <img
        src="./assets/close.png"
        class="h-8 w-8 absolute right-0 top-0 p-2 cursor-pointer"
        (click)="tea = false"
        alt=""
      />
      @for(product of myListOfTea; track product.id){

      <li class="list-none mt-2 mb-2">
        <a class="text-lg">{{ product.name }}</a>
        <div class="flex w-full justify-between">
          <p class="mt-1 text-lg">Ilość: {{ product.quantity }}</p>
          <div>
            <button (click)="addItem(product)">
              <img src="./assets/plus.png" class="w-10 h-10" alt="" />
            </button>
            <button class="ml-2" (click)="deleteItem(product)">
              <img src="./assets/waste-bin.png" class="w-10 h-10" alt="" />
            </button>
          </div>
        </div>
        <p class="mt-1">Wartość odżywcza:</p>
        <div class="flex w-full justify-between">
          <p><a class="font-semibold">Kcal</a></p>
          <p>{{ product.kcal }} g</p>
        </div>
        <div class="flex w-full justify-between">
          <p><a class="font-semibold">Tłuszcze</a></p>
          <p>{{ product.fat }} g</p>
        </div>
        <div class="flex w-full justify-between">
          <p><a class="font-semibold">Węglowodany</a></p>
          <p>{{ product.carbs }} g</p>
        </div>
        <div class="flex w-full justify-between">
          <p><a class="font-semibold">Białko</a></p>
          <p>{{ product.protein }} g</p>
        </div>
      </li>
      }
    </div>
  </div>
  } @if(supper){

  <div class="card md:mb-0 mb-2 bg-blue-5 relative">
    <div class="card-body">
      <h2 class="text-center text-lg font-semibold">Kolacja</h2>
      <img
        src="./assets/close.png"
        class="h-8 w-8 absolute right-0 top-0 p-2 cursor-pointer"
        (click)="supper = false"
        alt=""
      />
      @for(product of myListOfSupper; track product.id){

      <li class="list-none mt-2 mb-2">
        <a class="text-lg">{{ product.name }}</a>
        <div class="flex w-full justify-between">
          <p class="mt-1 text-lg">Ilość: {{ product.quantity }}</p>
          <div>
            <button (click)="addItem(product)">
              <img src="./assets/plus.png" class="w-10 h-10" alt="" />
            </button>
            <button class="ml-2" (click)="deleteItem(product)">
              <img src="./assets/waste-bin.png" class="w-10 h-10" alt="" />
            </button>
          </div>
        </div>
        <p class="mt-1">Wartość odżywcza:</p>
        <div class="flex w-full justify-between">
          <p><a class="font-semibold">Kcal</a></p>
          <p>{{ product.kcal }} g</p>
        </div>
        <div class="flex w-full justify-between">
          <p><a class="font-semibold">Tłuszcze</a></p>
          <p>{{ product.fat }} g</p>
        </div>
        <div class="flex w-full justify-between">
          <p><a class="font-semibold">Węglowodany</a></p>
          <p>{{ product.carbs }} g</p>
        </div>
        <div class="flex w-full justify-between">
          <p><a class="font-semibold">Białko</a></p>
          <p>{{ product.protein }} g</p>
        </div>
      </li>
      }
    </div>
  </div>
  }
</div>
