<div class="w-full h-full flex justify-center text-white">
    <div class="w-96 h-fit flex-col justify-center   mt-20 border rounded-xl">
        <h3 class="mt-5 font-semibold text-center text-xl">Rejestracja</h3>
        <form action="" (ngSubmit)="registerUser()"  #registrationForm="ngForm">
        <div class="mt-10 text-center ">
            <div class="flex flex-col mb-8">
                <label class="mb-2 text-lg" for="">Adres e-mail</label>
                <input type="text" class="bg-transparent border-b text-center w-56 mr-auto ml-auto" name="email"
                    [(ngModel)]="user.email"  (input)="emailorNicknameExists= false"
                    required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            </div>
            <div class="flex flex-col mb-8">
                <label class="mb-2 text-lg" for="">Nazwa użytkownika</label>
                <input type="text" class="bg-transparent border-b text-center w-56 mr-auto ml-auto" name="nickname"
                    [(ngModel)]="user.nickname" (input)="emailorNicknameExists = false" required=""> 
            </div>
            <div class="flex flex-col mb-8">
                <label class="mb-2 text-lg" for="">Hasło</label>
                <input type="password" class="bg-transparent border-b text-center w-56 mr-auto ml-auto" name="password"
                    [(ngModel)]="user.password" (input)="passwordMatch = true" placeholder="min. 6 znaków"
                    required minlength="6" >
            </div>
            
            <div class="flex flex-col mb-12">
                <label class="mb-2 text-lg" for="">Potwierdź hasło</label>
                <input type="password" class="bg-transparent border-b text-center  w-56 mr-auto ml-auto" name="password"
                    [(ngModel)]="user.passwordC" (input)="passwordMatch = true"
                    required minlength="6">
                    @if(!passwordMatch){
                        <span class="flex justify-center w-full text-sm font-semibold text-red-500 mt-5" >Hasła się nie zgadzają!</span>
                    }
                    @if(emailorNicknameExists){
                        <span class="flex justify-center w-full text-sm font-semibold text-red-500 mt-5" >Podany adres e-mail lub nazwa użytkownika jest już zajęta!</span>
                    }
                    
            </div>
            
            
           
            <div class="w-full flex justify-center mb-5 items-center">
              
                <button type="submit"
                    class="p-1 bg-white font-semibold text-black rounded-md hover:bg-gray-300" [disabled]="!registrationForm.form.valid ">Zarejestruj się</button>
            </div>
           
        </div>
        </form>
    </div>
</div>

